.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct_info {
    padding-left: 20px;
}

.checkoutProduct_info>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
}

.checkoutProduct_iamge {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating {
    display: flex;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}

.notification {
    position: fixed;
    top: 80%;
    right: 20px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 5px;
}
